h1, h2, h3
{
	text-align: center;
}

body, html
{
	height: 100%;
	width: 100%;
}

#header
{
	background-image: url('../../assets/img/headerBackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;

	border-bottom: 6px groove grey;
	padding-bottom: 2%;

	h1
	{
		font-variant: small-caps;
		margin:0;
		padding-top: 8%;
		font-size: 5em;

		color: white;
		text-shadow: black 0 0 12px;

		font-weight: bold;
	}
	#news, #contact
	{
		padding: 0.3%!important;
	}

	#contact
	{
		text-align: center!important;
		color: red;
		font-size: 1.8em;
	}

	#news
	{
		#newsContent
		{
			display: none;
		}

		#toggleNews
		{
			color: aqua;
			cursor: pointer;
			text-align: center;
		}
	}

	.opened
	{
		position: absolute;
		background-color: rgba(20, 20, 20, 1);
	}

	#headerText
	{
		margin-top: 3%;

		& > div > div
		{
			margin-top: 1.5%;
			background-color: rgba(20, 20, 20, 0.9);
			color: white;
			padding: 1.5%;
			text-align: justify;
		}

		transition: all 1s linear;
	}
}


#sportsSections, #activities
{
	h2
	{
		font-variant: small-caps;
	}

	.row
	{
		margin-bottom: 20px;
	}
}

a.activityBlock
{
	div
	{
		background-color: rgba(88, 230, 255, 0.6);
		color: black;


		h2
		{
			text-align: center!important;
		}
	}

	img
	{
		
	}
}
// body
// {
// 	&#index 
// 	{		
// 		background-image: url("../../assets/img/backgroundPatern.png");
// 		background-color: rgb(28, 242, 235);
// 		background-blend-mode: multiply;

// 		.headContainer
// 		{
// 			text-align: center;
// 			min-height: @titleHeight;

// 			h1
// 			{
// 				font-size: 3em;
// 				margin-top: 0px;
// 			}
// 		}

// 		div.bodyContainer
// 		{
// 			@radiusSize: 60px;
// 			text-align: center;
// 			margin-bottom: 5px;


// 			a.activityBlock
// 			{
// 				div
// 				{
// 					background-color: rgba(88, 230, 255, 0.6);
// 					color: black;
// 					width: 100%;

// 					border-top-left-radius: @radiusSize;
// 					border-top-right-radius: @radiusSize;

// 					h2
// 					{
// 						text-align: center;
// 					}
// 				}

// 				img
// 				{
// 					border-radius: @radiusSize;
// 					height: 30vh;
// 					margin: auto;
// 				}
// 			}
// 		}
// 	}
// }
