
/*==============================
=            Global            =
==============================*/
body
{
	background: '/assets/img/pattern.png';
	
	h1
	{
		font-size: 3em;
		margin-bottom: 3%;
	}

	h1, h2, h3
	{
		text-align: center;
	} 

	#textBlock
	{ 
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;		
	}

}

/*=====  End of Global  ======*/