@import '../../bower_components/components-font-awesome/css/font-awesome.css';

/*============================
=            Menu            =
============================*/

	.navbar
	{ 
		/*----------  Tabs  ----------*/
		ul li a 
		{				
			color: #B31400!important;
			font-size: 120%;
			background-color: #F8F8F8;
			z-index: 10;
		}

		/*----------  Logo  ----------*/
		.navbar-brand
		{
			max-height: 50px;
		    overflow: visible;
		    padding-top: 0;
		    padding-bottom: 4px; 

		    img
		    {
		    	max-height: 100%;
		    	max-width: 100%;
		    }
		}
	}

/*=====  End of Menu  ======*/

.dropdown-menu.fade 
{
  display: block;
  opacity: 0;
  pointer-events: none;
}

.open > .dropdown-menu.fade 
{
  pointer-events: auto;
  opacity: 1;
}