{% extends '/sections/_shared/global.layout.html.twig' %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/sections.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.partial.html.twig' %}
        {% block navbar_logo %}
        	<!-- Todo: Change the logo / remove if not needed -->
			<img id="navbar_logo" src="/assets/img/nordWalking/logo.png" alt="Marche nordique logo">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}nordWalking{% endblock %}

{% block content %}
	<h1>
		Marche nordique
	</h1>
	<div class="row">
		<div id="picturesContainer" class="col-md-8 col-md-offset-2">
			{% include '/sections/_shared/carousel.partial.html.twig' with carouselImagesPath %}
		</div>
	</div>
	<div id="textAndContactContainer">
		<div class="col-md-6">
			<div id="textBlock" class="col-md-12">
				<div>
					<h2>
						UN SPORT SANTE CONVIVIAL ET DE PLEINE NATURE POUR RETROUVER OU ENTRETENIR VOTRE FORME !
					</h2>
					<p>
						Retrouvez nous chaque samedi (hors fériés et vacances scolaires) de 10h à 12h pour diverses boucles autour de Ponteilla-Nyls (départ du boulodrome) ou covoiturage (lac de la Raho, forêt domaniale du Réart, canal de Canohès…).
						<br />
						Se munir de chaussures basses souples et légères à semelle antidérapante, eau, vêtement de pluie (possibilité de prêt de bâtons la première année) 
						<br />
					 	Cotisation annuelle 17 € + Adhésion au foyer rural 13 €/adulte
				 	</p>

				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="contactBlock" class="col-md-12">
				{% include '/sections/_shared/contactForm.partial.html.twig' %}
			</div>
		</div>
	</div>
	<div class="row">
		<div id="downloadFile" class="col-md-6">
			Télécharger la <a href="/assets/ressources/ficheInscription.global.pdf">fiche individuelle d'inscription</a>
		</div>
		<div id="downloadFile" class="col-md-6">
			<h2>
				Ressources
			</h2>
			<div>
				<a href="/assets/ressources/nordWalking/flyer_1.jpg" alt="flyer_1.jpg">
					Flyer n°1
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/flyer_2.jpg" alt="flyer_2.jpg">
					Flyer n°2
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/rules.pdf" alt="rules.pdf">
					Règlement intérieur
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/size.jpg" alt="size.jpg">
					Taille des batons
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/technic_1.pdf" alt="technic_1.pdf">
					Technique n°1						
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/technic_2.pdf" alt="technic_2.pdf">
					Technique n°2
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/technic_3.pdf" alt="technic_3.pdf">
					Technique n°3						
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/trobada_2015.pdf" alt="trobada_2015.pdf">
					Trobada 2015
				</a>
			</div>
			<div>
				<a href="/assets/ressources/nordWalking/trobada_2015.pdf" alt="/trobada_2015.pdf">
					Trobada 2015
				</a>
			</div>
		</div>
	</div>		

{% endblock %}