{% extends '/sections/_shared/global.twig' %}

{% block page_title %}Point ados{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/teens.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.twig' %}
        {% block navbar_logo %}
        	<!-- Todo: Change the logo / remove if not needed -->
			<img id="navbar_logo" src="/assets/img/teens/logo.jpg" alt="Point ados">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}teens{% endblock %}

{% block content %}
	<h1>
		Point ados / Animations
	</h1>
	<div class="row">
		<div id="picturesContainer" class="col-md-8 col-md-offset-2">
			{% include '/sections/_shared/carousel.twig' with carouselImagesPath %}
		</div>
	</div>
	<div id="textBlocksContainer">
		<div class="col-md-6 col-xs-12">
			<div iclass="col-md-12">
				<div>
					<h2>
						Point ados
					</h2>
					Ouvert&nbsp;: 
					<br />
					Le Mardi de 20h30 a 22h30
					<br />
					Le Mercredi de 14h a 18h
					<br />
					Le Vendredi de 20h30 a 22h30
					<br />
					Le Samedi de 14h a 18h
					<br />
					On vous attend nombreux !
					<br />
					A très vite, Quentin et Jonathan ! 
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="col-md-12">
				<div>
					<h2>
						Animations
					</h2>
					Les Foyers Ruraux sont des Associations d’Education Populaire.
					<br />
					Ils contribuent tout au long de l'année à l’Animation et au Développement Social, Culturel, Sportif et Économique des Territoires Ruraux.
					<br />
					L’animation est la vocation première du Foyer rural&nbsp;: développer la vie du village et du territoire rural, favoriser les échanges villes/campagnes, le partage et le "faire ensemble" des populations rurales.
				</div>
			</div>
		</div>
	</div>
	<div id="contactBlock" class="row">		
		<div class="col-md-6 col-md-offset-3">
			<div id="contactBlock" class="col-md-12">
				{% include '/sections/_shared/contactForm.twig' %}
			</div>
		</div>
	</div>

{% endblock %}