<div class="row" id="footerNavbar">
	<a href="_blank" class="col-lg-3">
		<span class="fa fa-file-text-o"></span>
		Mentions légales	
	</a>
	<a href="_blank" class="col-lg-3">
		<span class="fa fa-book"></span>
		Ressources	
	</a>
	<a href="_blank" class="col-lg-3">	
		<span class="fa fa-link"></span>
		Liens utiles	
	</a>
	<a href="_blank" class="col-lg-3">
		<span class="fa fa-sun-o"></span>
		Météo	
	</a>
</div>