<div class="row" id="footerNavbar">
	<a href="{{ path("base_mentionsLegales") }}" class="col-lg-4">
		<span class="fa fa-file-text-o"></span>
		Mentions légales	
	</a>
	<a href="http://www.meteofrance.com/accueil" target="blank" class="col-lg-4">
		météofrance
	</a>
	<a href="http://www.meteociel.fr/" target="blank" class="col-lg-4">
		météociel
	</a>	
</div>