<!DOCTYPE html>
<html>
    <head>
        <title>
            Silex base architecture
        </title>
        <!-- Bootstrap 3 -->
        <link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom -->
        <link href="./assets/css/design.css" rel="stylesheet">



        <!-- Jqueyr -->
        <script src="./vendor/components/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <!-- Bootstrap 3 -->
        <script src="./vendor/twbs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body class="container-fluid">
       <nav id="menu" class="navbar navbar-default">
            <ul class="nav navbar-nav nav-tabs nav-justified">
                <li>
                    <a href="#">
                        First menu item
                    </a>
                </li>
                <li>
                    <a href="#parentHow">
                       Second menu item
                    </a>
                </li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
