{% extends '/sections/_shared/global.twig' %}

{% block page_title %}Marche nordique{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="/assets/css/nordWalking.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.twig' %}
        {% block navbar_logo %}
            <!-- Todo: Change the logo / remove if not needed -->
            <img id="navbar_logo" src="/assets/img/logo.png" alt="Foyer rural">
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block bodyId %}legals{% endblock %}

{% block content %}
    <h2>
        Mentions légales
    </h2>
    <div class="row">  
        <div class="col-lg-6">
            <h2>
                Editeur du site
            </h2>
            VIALES Mathieu <br />
            29 Rue Brouardel, <br />
            31000 TOULOUSE <br />
            France <br />
            Email: <a href="mailto:haupe@hotmail.fr">haupe@hotmail.fr</a>
        </div> 
        <div class="col-lg-6">
            <h2>
                Hébergeur du site
            </h2>
            OVH <br />
            2 rue Kellermann <br />
            59100 Roubaix <br />
            France <br />
            email: <a href="mailto:cil@ovh.net">cil@ovh.net</a>
        </div> 
        <div class="col-lg-6 col-lg-offset-3">
            <h2>
                Responsable rédaction
            </h2>
            Foyer rural de Ponteilla-Nyls <br />
            31 avenue Pau Casalss <br />
            66300 Ponteilla <br />
            <a href="foyerruralponteillanyls@gmail.com">foyerruralponteillanyls@gmail.com</a>
        </div> 
    </div>
{% endblock %}