{% extends '/errors/_shared/error.layout.html.twig' %}
{% block content %}
<div class="error panel range5xx col-lg-12">	
	<div class="row">
		<div class="btn btn-default col-lg-3 col-lg-offset-2">
			Retour à l'accueil
		</div>
		<div class="btn btn-default col-lg-3 col-lg-offset-2">
			Retour à la page précédente
		</div>
	</div>
	<br>
	<h1>
		Erreur 500 - Erreur interne
	</h1>
</div>
{% endblock %}
