{% extends '/sections/_shared/global.layout.html.twig' %}

{% block page_title %}Relaxation{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/relaxation.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.partial.html.twig' %}
        {% block navbar_logo %}
        	<!-- Todo: Change the logo / remove if not needed -->
			<img id="navbar_logo" src="/assets/img/relaxation/logo.png" alt="Relaxation logo">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}relaxation{% endblock %}

{% block content %}
	<h1>
		Relaxation HappyRelax
	</h1>
	<div class="row">
		<div id="picturesContainer" class="col-md-8 col-md-offset-2">
			{% include '/sections/_shared/carousel.partial.html.twig' with carouselImagesPath %}
		</div>
	</div>
	<div id="textAndContactContainer">
		<div class="col-md-6">
			<div id="textBlock" class="col-md-12">
				<div>
					<h2>
						MIEUX ETRE, CALME, EQUILIBRE
						<br />
						APAISER STRESS ET TENSIONS
						<br />
						PRENDRE DU RECUL, LÂCHER PRISE
					</h2>
					<h3>
						Mobilisations douces, détente musculaire prise&nbsp;de&nbsp;conscience&nbsp;corporelle <br /> et respiratoire, relaxation guidée
					</h3>
					Rue des Alouettes, salle de droite dans la cour
					<br />
					Deux séances le jeudi : 17h30 à 18h45 et 19h à 20h15
					<br />
					Cotisation 150 € (3 x 50 €) + adhésion au foyer rural 13€/adulte
					<br />
					Prévoir une tenue confortable, tapis, coussin, petite couverture
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="contactBlock" class="col-md-12">
				{% include '/sections/_shared/contactForm.partial.html.twig' %}
			</div>
		</div>
	</div>
	<div class="row">
		<div id="downloadFile" class="col-md-12">
			Télécharger la <a href="/assets/ressources/ficheInscription.pdf">fiche individuelle d'inscription</a>
		</div>
	</div>

{% endblock %}