{% extends '/sections/_shared/global.layout.html.twig' %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/sections.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/hiking/_shared/navbar.partial.html.twig' %}
        {% block navbar_logo %}
			<img class="img img-responsive" src="/assets/img/hiking/logo.png" alt="logo du site">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}hiking{% endblock %}

{% block content %}
	    <form action="{{ path('hiking_admin_login_check') }}" method="post">
        {{ error }}
        <input type="text" name="_username" value="{{ last_username }}" />
        <input type="password" name="_password" value="" />
        <input type="submit" />
    </form>
	{% include '/sections/hiking/_shared/footerBar.partial.html.twig' %}
{% endblock %}