{% extends '/sections/hiking/_shared/layout.twig' %}

{% block page_title %}Inscription - Randonnée pédestre{% endblock %}

{% block hiking_content %}
	<h2>
		Inscription
	</h2>
	<div class="row">
		<form action="{{ path('hiking_register_check') }}" method="post" class="form-vertical col-lg-4 col-lg-offset-4">
		
			<!--======================================
			=            Errors displayer            =
			=======================================-->
			
				{% if app.session.flashbag.peekAll()|length > 0 %}
					<div class="panel panel-danger">
						{% for error in app.session.getFlashBag.get('error') %}
							{{ error }}
							<br />
						{% endfor %}
					</div>
				{% endif %}
			
			<!--====  End of Errors displayer  ====-->            

			<!-- Username field -->
			<div class="form-group">
				<label class="control-label" for="_username">
					Nom de famille
				</label>  
				<div class="">
					<input id="_username" name="_username" placeholder="nom de famille" class="form-control input-md" required type="text">
				</div>
			</div>

			<!-- Email field -->
			<div class="form-group">
				<label class="control-label" for="_email">
					E-mail
				</label>  
				<div class="">
					<input id="_email" name="_email" placeholder="nom de famille" class="form-control input-md" required type="email">
				</div>
			</div>

			<!-- Password field -->
			<div class="form-group">
				<label class="control-label" for="_password">
					Mot de passe
				</label>
				<div class="">
					<input id="_password" name="_password" placeholder="**********" class="form-control input-md" required type="password">
				</div>
			</div>

			<!-- Check password field -->
			<div class="form-group">
				<label class="control-label" for="_passwordAgain">
					Verifier mot de passe
				</label>
				<div class="">
					<input id="_passwordAgain" class="form-control input-md" required type="password">
				</div>
			</div>

			<!-- Send button -->
			<div class="form-group">
				<button id="login" name="login" class="btn btn-success center-block">
					Inscription
				</button>
			</div>

			<!-- Go to register page -->
			<div class="text-center">
				Déjà un compte ? <a href="{{ path("hiking_login") }}">Je me connecte !</a>
			</div>
		</form>
	</div>
{% endblock %}