{% extends 'sections/_shared/global.twig' %}

{% block page_title %}CGym fitness pilates{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/tableTennis.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.twig' %}
        {% block navbar_logo %}
			<!--<img id="navbar_logo" src="/assets/img/tableTennis/logo.png" alt="Tennis de table logo">-->
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}tableTennis{% endblock %}

{% block content %}
	<h1>
		Gym fitness pilates
	</h1>
		<div class="col-md-6 text-center">
				<div>
					cours d essai gratuit<br />
					Au foyer rural avec jennifer<br />
					Jeudi 18h 19h pilates<br />
 					19h 20h gym fitness<br />
					Une activité 80€ / an , deux activités 100€ / an<br />
					Renseignements 0627285552<br />
				</div>
		</div>
		<div class="col-md-6">
			<img src="/assets/img/fitness/FB_IMG_1534697852306.jpg" />
		</div>

{% endblock %}