{% extends 'sections/_shared/global.twig' %}

{% block page_title %}Gym fitness pilates{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/tableTennis.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.twig' %}
        {% block navbar_logo %}
			<!--<img id="navbar_logo" src="/assets/img/tableTennis/logo.png" alt="Tennis de table logo">-->
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}tableTennis{% endblock %}

{% block content %}
	<h1>
		Gym fitness pilates
	</h1>
		<div class="col-md-12 text-center">
				<h2>
					Venez découvrir la méditation accompagnée<br />
					en petit groupe, assis sur chaise, afin de développer progressivement nos sens profonds, l'attention à soi-même, apprendre à écouter, accueillir et équilibrer <br />
					nos états intérieurs et nos émotions<br />
					Venez comme vous êtes... vous repartirez différents...<br />

				</h2>
				<i>Les séances n'ont pas de but thérapeutique 
et ne se substituent pas à une visite chez votre médecin ou à un traitement médical
</i>
<div>
Rue des Alouettes, salle de droite dans la cour <br />
Le jeudi : 20h à 21h<br />
Cotisation 150 € (3 x 50 €) <br />
ou carte 10 séances à 80 €<br />
+ adhésion au foyer rural 13€/adulte <br />
</div>
		</div>

{% endblock %}