{% extends '/sections/hiking/_shared/layout.html.twig' %}

{% block page_title %}Randonnée pédestre{% endblock %}

{% block hiking_content %}
<section id="banner" class="row">
	<h1>
		Je marche donc je suis !
	</h1>
	<h3>
		Venez marcher avec nous, un dimanche par mois
	</h3>
</section>
<div class="row">
	<div class="newsAndInfo col-lg-10 col-lg-offset-1">
		<div class="container col-lg-5">
			<form id="contactForm" class="text-left">
				<!-- Text input-->
				<div class="form-group">
					<div class="row">
						<div class="col-lg-6">
							<label class="ccontrol-label" for="lastName">
								Nom :
							</label>
						</div>
						<div class="col-lg-6">
							<label class="ccontrol-label" for="firstName">
								Prénom :
							</label>
						</div>	
					</div>  
					<div class="row">
						<div class="col-lg-6">
							<input id="lastName" name="lastName" placeholder="" class="form-control input-md" required="" type="text">	
						</div>
						<div class="col-lg-6">
							<input id="firstName" name="firstName" placeholder="" class="form-control input-md" required="" type="text">
						</div>	
					</div>
				</div>

				<!-- Text input-->
				<div id="emailBlock" class="form-group">
					<label class="control-label" for="email">
						E-mail :
					</label>
					<input id="email" name="email" placeholder="" class="form-control input-md" required="" type="text">				
				</div>

				<!-- Textarea -->
				<div class="form-group">
					<label class="control-label" for="message">
						Message :
					</label>
					<textarea class="form-control" id="message" name="message"></textarea>
				</div>

				<input name="section[]" id="section-1" value="hiking" type="checkbox" checked="checked" style="display:none">

				<!-- Button -->
				<div class="form-group">
					<button id="send" name="send" class="btn btn-success center-block">
						Envoyer
					</button>
				</div>
			</form>
		</div>
		<div id="centerLogo" class="container col-lg-2">
			<img class="img img-responsive" src="/assets/img/hiking/centerLogo.png" alt="logo du site">
		</div>
		<div id="infoAndContact" class="container col-lg-5">
			<div id="infoAndContactBlock" class="col-lg-12">
				<h2>
					Adhésion
				</h2>
				Imprimez, remplissez et remettez-nous le <a href="{{ path("hiking_wip") }}">formulaire&nbsp;d'adhésion</a> 
				<br /> 
				après avoir pris connaissance du <a href="{{ path("hiking_rules") }}">règlement&nbsp;intérieur</a>
				<br />
				<h2>
					À joindre
				</h2>
				Original d'un certificat médical de moins d'un mois 
				<br />
				de non contre-indication à la pratique de la randonnée pédestre
				<br />
				Chèque à l'ordre du <i>Foyer rural de Ponteilla-Nyls</i> : 
				<br />
				adhésion 13€/adulte, 10€/enfant + cotisation annuelle 10€
				<h2>
					Contact
				</h2>
				<a href="mailto:sectionrando.frponteillanyls@gmail.com">sectionrando.frponteillanyls@gmail.com</a>
				<br />
				06.50.45.05.64				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/assets/js/ContactFormManager.class.js"></script>
<script>
	/*----------  Start the contact form manager  ----------*/
	var formManager = new ContactFormManager('#contactForm', "{{path('ajax_contact')}}");
</script>
{% endblock %}