{% extends '/sections/hiking/_shared/layout.twig' %}

{% block page_title %}Randonnée pédestre{% endblock %}

{% block hiking_content %}
<h2>
    Règlement intérieur
</h2>
<h3>
    SECTIONS RANDONNE PEDESTRE et MARCHE NORDIQUE du FOYER RURAL DE PONTEILLA-NYLS
</h3>
<div id="rules" class="col-lg-10 col-lg-offset-1">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h4>
				Préambule
			</h4>
			<p>
		    Le présent document a pour objet de compléter le règlement intérieur du Foyer Rural sans en modifier ou altérer le contenu, lequel s’applique en priorité à chaque adhérent. Les articles ci-après apportent les compléments propres aux sections RANDONNEE PEDESTRE et MARCHE NORDIQUE et s’imposent sans réserve à tous les membres du foyer rural.
		</div>
    </div>
	<div class="row">
		<div class="col-lg-4">
    		<h4>
    			Article 1 : Carte d’adhérent
    		</h4>
			<p>
			    Cette carte est obligatoire pour avoir accès aux activités permanentes ou épisodiques du Foyer Rural. Son montant est fixé annuellement par le conseil
			    d’administration. Pour devenir membre, il faut accepter le règlement intérieur, remplir une fiche d’adhésion et régler le coût de l’adhésion, valable du
			    1er septembre au 31 août de l’année suivante.
			</p>
		</div>
		<div class="col-lg-4">
    		<h4>
    			Article 2 : Cotisation
    		</h4>
			<p>
			    <strong>RANDONNEE PEDESTRE</strong>: aucune cotisation supplémentaire ne sera demandée aux adhérents du foyer rural pour la pratique de la randonnée pédestre.
		   	</p>
		   	<p>
			    <strong>MARCHE NORDIQUE</strong> : Une cotisation annuelle afférente aux frais de fonctionnement internes à la section sera demandée aux adhérents du foyer rural pour la
			    pratique de la Marche Nordique.
		   	</p>
		   	<p>
			    L’accès aux deux sections est en outre conditionné à l’inscription par un bulletin spécifique et à la remise d’un certificat médical.
			</p>
		</div>
		<div class="col-lg-4">
    		<h4>
			    Article 3 - Certificat médical
			</h4>
			<p>
			    L’original d’un certificat médical de non contre indication à la pratique de l’activité concernée, datant de moins d’un mois, doit être remis au jour de l'adhésion, pour les nouveaux et les anciens adhérents, sans dérogation. Nous vous informons de l’intérêt que représente la souscription d’un contrat d’assurance couvrant les dommages corporels auxquels la pratique sportive vous expose et vous proposons une adhésion avec individuelle accident (IA).
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h4>
				Article 4- Conditions de maintien de l’activité
			</h4>
			<p>
				Le Foyer Rural n’assurera le maintien d’une section qu’à condition d’un nombre suffisant d’adhérents à jour de cotisation. En cas d’annulation de l’activité, les adhérents sont informés et remboursés de leur cotisation à la section au prorata du temps écoulé.
			</p>			
			<h4>
				Article 5 - Publication de photos et vidéos
			</h4>
			<p>
				Chaque adhérent autorise sans contrepartie, la diffusion de photographies ou vidéos prises dans le cadre de l'activité du foyer rural à des fins de représentation (blog, publications de l'association, presse...).
		   	</p>
		   	<p>
				Aucun adhérent n’est autorisé à diffuser sur des supports écrits, facebook… des photos ou vidéos des activités du foyer rural sans l’accord préalable du foyer rural et des personnes concernées.
			</p>
		</div>
		<div class="col-lg-4">
			<h4>
				Article 6 – Engagement des adhérents
			</h4>
			<p>
			    L'adhésion aux sections RANDONNEE PEDESTRE ou MARCHE NORDIQUE du foyer rural implique le respect du règlement intérieur et du présent additif, remis à chaque adhérent. Il est susceptible d'être modifié par le Conseil d'Administration et sera approuvé par celui-ci. Les statuts du foyer rural sont à respecter par tous les membres.
		   	</p>
		   	<p>	
			    Tout manquement au règlement intérieur ou aux buts du foyer rural, tout comportement agressif envers un autre adhérent ou refus de suivre les consignes de l'animateur, toute conduite perturbant de façon répétée le bon déroulement de l’activité, observé par l’un des membres du foyer rural et signifié à l’adhérent concerné, sera porté à la connaissance du Conseil d’Administration en vue d’une délibération collégiale fidèle à l’esprit du foyer rural, et pourra être considéré comme un motif grave pouvant entraîner la radiation dudit adhérent de la section concernée, voire son exclusion du foyer rural et dans ce cas la cotisation annuelle ne sera pas remboursée.
			</p>
		</div>
		<div class="col-lg-4">
			<h4>
				Article 7 - Objectif
			</h4>
			<p>
				L’objectif des deux sections est la pratique de l’activité sportive sans esprit de compétition, dans un milieu convivial, afin de découvrir le patrimoine culturel et l’environnement naturel, ce qui en fait une activité de loisirs.
			</p>
			<h4>
				Article 8 – Animateurs
			</h4>
			<p>
			    Les animateurs sont bénévoles et ont à charge d'organiser et d’animer les sorties. Aucun texte légal, règlementaire ou fédéral n'impose à ce jour la possession d'un diplôme pour la conduite bénévole d'une randonnée pédestre ou d’une séance de marche nordique associatives.
		   	</p>
		   	<p>
			    Nos animateurs sont titulaires d’un Brevet Fédéral niveau 1 randonnée pédestre, et ont suivi une formation d’animateurs en marche nordique. Ils n'ont pas d'obligation de résultat mais de sécurité. L'assurance ne couvre leur responsabilité que pour les sorties du programme. L'animateur d'une sortie est délégataire de l'obligation de sécurité qui pèse sur le foyer rural. De ce fait, il prend toutes les décisions qu'il juge nécessaires pour satisfaire à ces obligations.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h4>
				Article 9 - Programme
			</h4>
			<p>
				    RANDONNEE PEDESTRE : Un planning prévisionnel, indicatif et susceptible de modifications, est établi par les animateurs en début d’année. Il mentionne la date, le lieu, le point de départ, le kilométrage total de la randonnée, le niveau de difficulté estimé : 1 = facile, 2 = moyenne, 3 = difficile.
			   	</p>
			   	<p>
    				MARCHE NORDIQUE : Les séances de Marche Nordique sont programmées chaque samedi de 10h00 à 11h30 environ, sauf programmation particulière, avec départ devant le foyer rural, pour diverses boucles autour de Ponteilla-Nyls, ou déplacement sur un site de marche à proximité (Lac de Villeneuve de la Raho, lac de Saint Jean Pla de Corts, littoral…). En période estivale les horaires peuvent être avancés à 09h00.
			   	</p>
			   	<p>
 					Les activités n’ont pas lieu les jours de congés ou de vacances scolaires ainsi que les jours fériés.
			</p>
		</div>
		<div class="col-lg-4">
			<h4>
				Article 10 - Modification inopinée du programme
			</h4>
			<p>
			    Les animateurs peuvent inopinément modifier le programme (modifier, annuler ou permuter des sorties) s’ils l’estiment nécessaire en fonction des circonstances : indisponibilité des animateurs, conditions climatiques, alerte météo, mauvais état du terrain, chasse en battue, ou toute autre raison de sécurité ou de force majeure.
		   	</p>
		   	<p>
			    Dans la mesure du possible, les adhérents seront avisés de ces modifications en temps utiles, à défaut un animateur sera présent à l'heure et au lieu du rendez-vous pour les en informer.
		   	</p>
		   	<p>
			    De même un animateur peut modifier un parcours en fonction des conditions particulières sur place (météorologie, terrain, état d'un ou plusieurs participants…).
			</p>
		</div>
		<div class="col-lg-4">
			<h4>
				Article 11 - RANDONNEE PEDESTRE - Inscriptions aux sorties
			</h4>
			<p>
				    Afin d’encadrer le groupe dans les meilleures conditions de sécurité, le nombre maximum de participant à chaque sortie est fixé à 12 personnes par animateur présent.
			   	</p>
			   	<p>
				    Le nombre d’adhérents à la section n’étant pas limité, cette disposition implique de s’inscrire préalablement à chaque randonnée au programme, auprès des animateurs de la section et dans le respect des dates limites d'inscription, afin de respecter le quota de participants selon le nombre d’animateurs présents. Tout adhérent se présentant au départ d’une randonnée sans s’être inscrit au préalable, ne sera pas admis à se joindre au groupe de randonneurs du foyer rural, pour des raisons de sécurité et de prise en charge par l’assurance.
			   	</p>
			   	<p>
				    Lieu de rendez-vous, trajet routier : Chaque participant doit veiller à arriver environ ¼ d'heure avant l'heure du départ, au lieu de rendez-vous fixé, généralement sur le parking devant le foyer rural, ou comme indiqué sur le programme.
			   	</p>
			   	<p>
				    Les participants ont toute latitude d’emprunter l’itinéraire de leur choix pour se rendre au point de départ de la randonnée. Les personnes qui ne partiraient pas du lieu de rendez-vous fixé, pour se rendre directement sur le lieu de la randonnée, doivent en informer l’animateur.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h4>
				Article 12 - RANDONNEE PEDESTRE sur plusieurs jours
			</h4>
			<p>
			    Les sorties week-end ou séjours avec nuitées sont prioritairement réservées aux membres de la section à jour de cotisation. Les frais de ces sorties sont pris en charge par les participants et le paiement d'acompte pour les nuitées est nécessaire. Prévoir une participation aux frais de transport payable à l'inscription.
			</p>
			<p>
				Ces sorties nécessitent une préinscription préalable, avec un minimum de personnes suivant la destination. Un bulletin d’inscription est ensuite validé après versement du montant nécessaire à la réservation, variable selon les hébergements et précisé sur le bulletin d’inscription. Le solde sera versé un mois avant la date de départ.
			</p>
			<p>
				La date limite d'inscription fixée pour tout week-end ou séjour doit être respectée. Les conditions d’annulation en cas de désistement justifié (fournir certificat médical, arrêt de travail ou autre justificatif à l'appréciation de l’hébergeur) étant propres à chaque structure d’hébergement, elles seront précisées sur les bulletins d’inscription. Lors de tout désistement non justifié, une retenue allant de 50 € à la totalité du coût du séjour sera effectuée sur l'acompte versé lors de l'inscription ou sur le paiement du séjour effectué avant le départ, retenue correspondant aux frais engagés, sauf si remplacement possible sur liste d’attente.
			</p>
		</div>
		<div class="col-lg-4">
			<h4>
				Article 13 - Séances « d’essai »
			</h4>
			<p>
			    Afin de pouvoir juger de nos activités et de l’ambiance de nos sections avant d’adhérer, il est permis à toute personne qui en fera la demande préalable de participer à une sortie « d’essai », sans être adhérente du foyer rural, mais uniquement dans le courant du mois de septembre.
			</p>
			<p>
			    Le mois de septembre passé, l’adhésion sera exigée, aucune dérogation ne sera acceptée au regard des assurances.
			</p>	
			<br />
			<h4>
				Article 14 – Animaux domestiques
			</h4>
			<p>
			    Pour des raisons de sécurité, les animaux domestiques ne sont pas admis au cours des sorties.
			</p>
			<p>
			    Par dérogation, lorsque la réglementation locale l’autorise, sont admis les chiens ne présentant pas de dangerosité connue, tant par leur catégorie que par leur attitude et obéissance à leur maître, après accord de l’animateur.
			</p>
			
		</div>
		<div class="col-lg-4">
			<h4>
    			Article 15 - Enfants
			</h4>
			<p>
				RANDONNEE PEDESTRE : Les adhérents mineurs de plus de 8 ans sont admis, avec et sous la responsabilité d’un parent ou d’un adulte ayant autorité et présent à la sortie. Les mineurs non accompagnés ne seront pas acceptés.
			</p>
			<p>
			    MARCHE NORDIQUE : Les enfants de moins de 15 ans ne sont pas admis aux séances de marche nordique, car ils ne seraient pas en mesure de suivre le rythme des pas d’un adulte. Les adolescents à partir de 15 ans sont admis, sur autorisation de leurs parents et après vérification lors d’une séance d’essai de leur capacité à suivre le rythme du groupe.
			</p>
			<p>
				Dans tous les cas, l’animateur est seul juge pour accepter ou refuser les enfants selon le niveau de difficulté de la sortie.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h4>
    			Article 16 - Equipement du marcheur
			</h4>
			<p>
			    Les participants doivent être équipés de chaussures et vêtements adaptés aux conditions météorologiques et au terrain. Ils peuvent se renseigner auprès des organisateurs.
			</p>
			<p>
			    En randonnée pédestre, sont conseillés :
			</p>
			<p>
			    Des chaussures de marche en bon état, à semelles antidérapantes, crantées et assurant un bon maintien de la cheville. Les chaussures sont le principal équipement de cette activité, laquelle peut devenir un enfer pour la personne mal chaussée et pour l’ensemble du groupe. Exclure sandales, baskets, ballerines et tous types de chaussures où les semelles sont insuffisantes par l’épaisseur, lisses (glissades) où le pied est libre de bouger (foulure, torsion, cassure à la cheville).
			</p>
			<p>
				Un minimum d’équipement : sac à dos (25L environ pour une randonnée journée), vêtement imperméable, eau en quantité suffisante afin d'éviter la déshydratation (1L1/2 minimum), encas (barres de céréales ou fruits secs, banane), casse croûte pour le midi, chaussettes et tee-shirt de echange, sac poubelle, lunettes de soleil et couvre-chef, couverture de survie. L'adhérent se doit d'être bien équipé pour la pratique de la randonnée mais doit aussi être autonome en eau et vivres.
			</p>
			<p>
			    En marche nordique, sont conseillés :
			</p>
			<p>
			    Des chaussures basses, souples et légères, à semelles antidérapantes, des vêtements protégeant de la pluie et du froid mais permettant une bonne amplitude de mouvement, un petit sac à dos ne gênant pas les mouvements des bras, de l’eau, un en-cas.
			</p>
			<p>
			    Des bâtons spécifiques à la Marche Nordique, avec gantelets. La section peut prêter des bâtons, selon le nombre de participants, mais uniquement lors de la première année de pratique, afin de réserver l’accès aux bâtons de prêt aux débutants.
			</p>
			<p>
			    Trousse de secours : il est du ressort de chaque marcheur d’avoir sur lui ou dans son sac :
			</p>
			<p>
			    sa pharmacie personnelle et de suivre la posologie prescrite par son médecin en cas de traitement, sa carte vitale, nom et téléphone d’une personne à prévenir en cas d’accident, ordonnance en cas de traitement.
			</p>
			<p>
			    L'Animateur est doté d’une trousse de secours permettant de soigner des incidents mineurs dits de "bobologie". Il n'est pas un professionnel de la médecine et ne peut administrer de traitement. En cas d’accident grave, l’animateur est chargé d’appeler les secours, d’avertir l’assurance et éventuellement un proche du blessé. L’animateur s’assurera que la déclaration d’accident est remplie et transmise dans les délais.
			</p>
			<p>
			    Les personnes qui se présenteraient au départ avec un équipement estimé insuffisant par les animateurs ou dans un état jugé préoccupant ne pourront pas participer à la sortie pour des raisons de sécurité.
			</p>
		</div>
		<div class="col-lg-6">
			<h4>
    			Article 17 - Les Bonnes pratiques - Charte du Marcheur
			</h4>
			<p>
				L'État d'Esprit : les deux sections ont le souci de préserver l'esprit convivial et sportif dans les activités proposées, elles sont respectueuses de la nature et de l'environnement. La courtoisie est la règle entre tous les membres.
			</p> 
			Les règles de bonne conduite : Il est demandé aux marcheurs de respecter la nature, les propriétés privées, les règles élémentaires de sécurité et de partager l’espace avec d’autres usagers dans le respect de règles mutuelles :			    
			<ul>
				<li>
			    	de ramener tous ses déchets y compris les biodégradables, de laisser les lieux de pique-nique propres
				</li>
				<li>
			    	de suivre les sentiers, ne pas emprunter de raccourcis, ne pas couper les lacets des chemins pour ne pas créer une nouvelle trace susceptible de détériorer le terrain en favorisant des couloirs d’érosion,
				</li>
				<li>
		    		de respecter la propriété d’autrui, récoltes, prés de fauche, ne pas cueillir de fruits dans les vignes et vergers,
				</li>
				<li>
		    		de ne pas déranger les troupeaux d’animaux domestiques, refermer les barrières et respecter les clôtures,
				</li>
				<li>
	    			de ne pas troubler le calme de la faune sauvage et pour avoir une chance de voir des animaux, ne pas crier,
				</li>
				<li>
	    			de respecter la flore : ne pas couper les fleurs, se contenter de les identifier ou les photographier,
				</li>
				<li>
	    			de ne pas allumer de feu dans les zones à risques surtout en période de sécheresse ou par vent fort.
				</li>
			</ul>
			<p>
			    Respect du code de la route en tant que piéton/randonneur : Chaque participant est tenu de respecter le code de la route, en particulier ce qui a trait au déplacement le long des rues et des routes (articles R412.34 à 43). En agglomération il faut utiliser les trottoirs ou accotements. Hors agglomération, le code de la route prévoit la circulation d'un groupe pédestre à droite de la route, en groupes de 20 mètres maximum, distants d’au moins 50 mètres les uns des autres. Il peut être décidé de circuler à gauche de la voie de circulation routière, exclusivement en file indienne. Dans tous les cas, tout le monde circule du même côté. C’est l'animateur qui indique la façon dont le groupe doit circuler, il est le seul juge pour la sécurité du groupe et les adhérents doivent respecter les consignes de sécurité qu’il donne. La vigilance de chacun est de mise et le respect de ces consignes est obligatoire.
			</p>
			<p>
			    Conduite du groupe : Les animateurs sont les seuls responsables de la sortie, ils ont autorité sur la conduite de celle-ci. Ils peuvent s'adjoindre la collaboration d'un serre-file. Chaque adhérent s’engage à respecter les recommandations de l'animateur liées à la conduite du groupe, même s’il n’est pas de son avis.
			</p>
			<p>
			    Les participants doivent rester groupés, aussi c’est sur les moins rapides que se règle l’allure du groupe.
			</p>
			<p>
			    Chaque participant doit rester à portée de vue de l'animateur ou serre file et laisser son sac sur le bord du chemin ou informer l’animateur ou le serre file lors d’un arrêt pour besoin personnel.
			</p>
			<p>
			    Chaque participant s’engage à ne pas se séparer du groupe sans prévenir l'animateur et à ne jamais repartir seul au risque de se perdre ou se blesser.
			</p>
			<p>
			    Lorsque l'animateur ne se trouve pas en tête du groupe, les marcheurs qui le précèdent ne doivent jamais le perdre de vue et doivent attendre le reste du groupe à l’intersection suivante.
			</p>
			<p>
			    L'animateur est responsable du groupe jusqu'au retour aux voitures. Les participants doivent attendre l'accord du responsable pour partir, par sécurité afin de recenser tout le monde.
			</p>
			<p>
			    Le foyer rural et ses animateurs ne peuvent être tenus responsables en cas de manquement par un adhérent aux articles du Règlement Intérieur et de son présent additif ou aux consignes données par un encadrant lors d’une sortie.
			</p>
		</div>
	</div>
	<div class="row col-lg-10 col-lg-offset-1">
		<h4>
			Article 18 - Covoiturage
		</h4>
		<p> 
			D’un point de vue économique et écologique, il est conseillé de pratiquer le covoiturage. Celui-ci n’est pas obligatoire et repose sur le volontariat. Le foyer rural n’intervient en aucun cas dans le défraiement, celui-ci s’effectue de gré à gré. Pour le partage des frais, deux cas peuvent être envisagés :
		</p>
		<ul>
			<li>
				La rotation des «transporteurs» (chacun son tour)
			</li>
			<li>
				La participation financière des «transportés», aussi si vous ne prenez jamais votre véhicule, pensez à proposer un dédommagement à ceux qui vous transportent avec sympathie.
			</li>
		</ul>
		<p>
		    La participation financière à un covoiturage aller/retour supérieur à 150 km peut faire l'objet d'un chiffrage collectif comprenant tous les véhicules
		    utilisés (frais kilométriques selon la puissance du véhicule, frais d'autoroute). Le président du foyer rural est seul habilité à réserver des véhicules de transport collectif.
		</p>
		<p>
			La Responsabilité des Conducteurs : Toute personne souhaitant conduire lors du covoiturage est responsable du groupe dans son véhicule. Les «transporteurs» sont tenus de respecter le code de la route (permis de conduire, vitesse, alcoolémie…), ils engagent leur responsabilité en cas d'accident ou d'infraction aux règles du code de la route et doivent en assumer les conséquences. Les chauffeurs vérifieront qu’ils sont assurés «personnes transportées». L’acceptation du covoiturage est sous l’entière responsabilité du chauffeur et des passagers qui en acceptent les contraintes.
		</p>
		<p>
			Le foyer rural et ses animateurs ne seront pas responsables de tout accident pouvant survenir au cours du déplacement. L’assurance du foyer rural ne couvre pas les dommages causés aux véhicules particuliers lors des activités organisées. Le foyer rural et ses animateurs ne peuvent être tenus pour responsables de perte ou vol de matériel ou objet personnel lors des activités qu'ils organisent.
		</p>
		<p>
		    Cet additif au règlement intérieur a été approuvé par le Conseil d’Administration
		</p>
	</div>
</div>
{% endblock %}