{% extends 'sections/_shared/global.layout.html.twig' %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/sections.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.partial.html.twig' %}
        {% block navbar_logo %}
			<img id="navbar_logo" src="/assets/img/tableTennis/logo.png" alt="Tennis de table logo">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}tableTennis{% endblock %}

{% block content %}
	<h1>
		Tennis de table
	</h1>
	<div class="row">
		<div id="picturesContainer" class="col-md-8 col-md-offset-2">
			{% include '/sections/_shared/carousel.partial.html.twig' with carouselImagesPath %}
		</div>
	</div>
	<div id="textAndContactContainer">
		<div class="col-md-6">
			<div id="textBlock" class="col-md-12">
				<div>
					Tous les lundi soir de 19h00 à 20h00 au foyer rural
					<br />
					Première séance d'essai gratuite !
					<br />
					5€ par mois
					<br />
					+ Adhésion annuelle au Foyer rural : 13€ adulte / 10€ enfant
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="contactBlock" class="col-md-12">
				{% include '/sections/_shared/contactForm.partial.html.twig' %}
			</div>
		</div>
	</div>
	<div class="row">
		<div id="downloadFile" class="col-md-6 col-md-offset-3">
			Télécharger la <a href="/assets/download/globalFicheInscription.pdf">fiche individuelle d'inscription</a>
		</div>
	</div>

{% endblock %}