
/*============================
=            Menu            =
============================*/

	.navbar
	{ 
		/*----------  Tabs  ----------*/
		ul li a 
		{				
			color: #B31400!important;
			font-size: 1.8em;
		}

		/*----------  Logo  ----------*/
		.navbar-brand
		{
			max-height: 50px;
		    overflow: visible;
		    padding-top: 0;
		    padding-bottom: 4px; 

		    img
		    {
		    	max-height: 100%;
		    	max-width: 100%;
		    }
		}
	}

/*=====  End of Menu  ======*/