{% extends '/sections/_shared/global.twig' %}

{% block page_title %}Tir à l'arc{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/archery.css">
{% endblock %}

{% block navbar %}
    {% embed '/sections/_shared/navbar.twig' %}
        {% block navbar_logo %}
			<img id="navbar_logo" src="/assets/img/archery/logo.jpg" alt="Tir à l'arc logo">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyId %}archery{% endblock %}

{% block content %}
	<h1>
		Tir à l'arc
	</h1>
	<div class="row">
		<div id="picturesContainer" class="col-md-8 col-md-offset-2">
			{% include '/sections/_shared/carousel.twig' with carouselImagesPath %}
		</div>
	</div>
	<div id="textAndContactContainer">
		<div class="col-md-6">
			<div id="textBlock" class="col-md-12">
				<div>
					Au foyer rural, lundi 17h30 à 18h30 archers enfants et ados
					<br />
					lundi 20h15 à 21h30 adultes
					<br />
					6 €/mois + adhésion annuelle au foyer rural 13€/adulte, 10€/enfant
					<br />
					Renseignements : <a href="foyerruralponteillanyls@gmail.com">foyerruralponteillanyls@gmail.com</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="contactBlock" class="col-md-12">
				{% include '/sections/_shared/contactForm.twig' %}
			</div>
		</div>
	</div>
	<div class="row">
		<div id="downloadFile" class="col-md-6 col-md-offset-3">
			Télécharger la <a href="/assets/ressources/archery/ficheInscription.archery.pdf">fiche individuelle d'inscription</a>
		</div>
	</div>

{% endblock %}