<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block page_title %}page.title{% endblock %}
        </title>

        {% block lib_css %}

            <!-- Bootstrap 3 -->
            <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        {% endblock %}

        {% block custom_css %}{% endblock %}

        {% block lib_js %}

            <!-- Jqueyr -->
            <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
            <!-- Bootstrap 3 -->
            <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
            <!-- Bootstrap notify -->
            <script src="/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.js" type="text/javascript" charset="utf-8"></script>

        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id="{% block bodyId %}base{% endblock %}" class="container-fluid">

        {% block navbar %}{% endblock %}
        {% block content %}{% endblock %}        
        {% block footerBar %}{% include '/sections/_shared/footerBar.twig' %}{% endblock %}        
            
    </body>
</html>
