{% extends '/sections/hiking/_shared/layout.html.twig' %}

{% block page_title %}WIP - Randonnée pédestre{% endblock %}

{% block hiking_content %}
    <h2>
        Work in progress
    </h2>
    <div class="row">   
        <h2>
            La page à la quelle vous désirez acceder n'éxiste pas encore.
        </h2>        
        <h3>
            Revenez plus tard, on sait jamais, j'aurais peut être pris le temps de bosser dessus ? 
        </h3>
    </div>
{% endblock %}